<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sparkle Pin</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <h1>Welcome to Sparkle Pin</h1>
  <div>Hello!!! User:</div>
  <div th:text="${username}"></div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="product">
    <img src="product1.jpg" alt="Product 1">
    <h2>Product 1</h2>
    <p>Description of Product 1</p>
    <p>Price: $19.99</p>
    <button>Add to Cart</button>
  </section>


  <!-- Add more product sections as needed -->
</main>

</body>
</html>
